* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #003 url("../img/bg.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 100vh;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#destaque { 
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10% 5% 0;

    position: fixed;
    top: 0;
    z-index: -1;

    background-color: #003a;
}

#destaque > h1 {
    font-size: 70px;
    margin-bottom: 70px;
}

#destaque > h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}

#destaque > h3 {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}

main {
    text-align: center;
    width: 100%;
    max-width: 1400px;
    margin: 45% auto 0;
}

#apresenta {
    border: 15px solid white;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 10px;
    background-color: #000d;

    color: white;
}

#apresenta > h1 {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 50px;
}

#apresenta p {
    font-size: 20px;
    width: 80%;
    margin: 30px auto;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#apresenta img {
    width: 200px;
    background-color: #fff7;
    margin-top: -110px;
    margin-bottom: 70px;
    border-radius: 50%;
}

#apresenta span {
    color: cyan;
    font-style: italic;
}

#caixas {
    background-color: white;
    padding: 50px 0;
}

#caixas article {
    border: 1px solid black;
    width: 32%;
    display: inline-block;
}

#caixas #analise {
    background-image: url("../img/analise-dados.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#caixas #estatistica {
    background-image: url("../img/estatistica.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#caixas #python {
    background-image: url("../img/python.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#caixas article h2 {
    color: darkblue;
    margin: 280px 0 10px;
    background-color: white;
    padding: 20px 0;
}

#caixas p {
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    background-color: white;
}

#caixas a {
    color: gray;
    font-weight: normal;
    font-size: 14px;
}

footer {
    color: white;
    background-color: #003a;
    padding: 50px;
    text-align: center;
    border-top: 1px solid black;
}

footer a {
    font-weight: normal;
    color: white;
}

footer a:hover {
    color: aqua;
}
