<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="shortcut icon" href="../static/img/favicon.png">

    <title>Site com Flask</title>
</head>

<body>
    <header>

    </header>
    <section id="destaque">
        <h1>Curso Técnico de Ciência de Dados</h1>
        <h2>Escola Estadual Dr Ângelo Mendes de Almeida</h2>
        <h2>Turma 2°B 2024</h2>
        <h3>Prof. Parisotto</h3>
    </section>
    <main>
        <section id="apresenta">
            <img src="../static/img/favicon.png" alt="Logo Ciência de Dados" id="logo">

            <h1>Desenvolvido com o micro-framework FLASK no Python</h1>

            <p>O Flask é um micro-framework que permite criar sites, aplicativos web e APIs de forma rápida e eficiente,
                com a possibilidade de adicionar funcionalidades gradualmente, como suporte a banco de dados,
                autenticação, templates entre outras coisas mais.</p>

            <p>Empresas como Zillow, Patreon, Reddit, Trivago, Pinterest e várias outras usam Flask em seus sites. Além
                disso, diversas empresas de ponta usam Flask em sua pilha, como Samsung, Netflix, Uber, Airbnb e outras.
            </p>

            <p>Neste curso, os alunos do <span>Curso Técnico em Ciência de Dados</span> da <span>E.E. Dr Ângelo Mendes
                    de Almeida</span> aprenderam a criar este site, suas múltiplas páginas, a integração com um banco de
                dados e formulários de cadastro, login e contato usando o Flask em seu desenvolvimento e o consumo de
                APIs em Python no back-end.</p>

            <p>Todo o projeto foi desenvolvido em sala de aula com a participação dos alunos.</p>
        </section>
        <section id="caixas">
            <article id="analise">
                <h2>Analise</h2>
                <p>O profissional capaz de analisar dados de maneira adequada poderá tomar decisões estratégicas de forma mais assertiva. E é por isso que as organizações estão buscando cada vez mais por esses profissionais.</p>
                <p><a href="#">Saiba mais >></a></p>
            </article>
            <article id="estatistica">
                <h2>Estatística</h2>
                <p>O conhecimento sobre estatística é fundamental para a eficiente aplicação dos recursos oferecidos pelas linguagens voltadas para a análise de dados e para a construção de painéis gerenciais.</p>
                <p><a href="#">Saiba mais >></a></p>
            </article>
            <article id="python">
                <h2>Aprendendo com Python</h2>
                <p>É importante que profissionais de todas as áreas tenham a habilidade de analisar os dados e utilizá-los de uma maneira etratégica no suporte à tomada de decisões.</p>
                <p><a href="#">Saiba mais >></a></p>
            </article>
        </section>
    </main>
    <footer>
        <p>Copyright &copy; 1962-2025 - <a href="https://parisotto.net" target="_blank">Parisotto.Net - Internet</a></p>
        <p>Website Design by Edson Parisotto</p>
    </footer>
</body>

</html>